// SIZE
$base_font_size: 10px;
$site_width: 1920px;
// COLOR
$black_1: rgba(0, 0, 0, 0.3);
$black_2: #0B0B0B;
$black_3: rgba(0, 0, 0, 0.55);

$white_1: #ffffff;

$purple_1: #AC54E2;

$pink_1: #C86DFF;

$gray_1: #717171;
$gray_2: #7B7B7B;
$gray_3: #c9c9c9;
$gray_4: #2F2F2F;