.about_bg {
    @include background((url(../img/about/about_bg_1.png), url(../img/about/about_bg.jpg)));

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.menu_checkbox:checked ~ .container {

    .about_list {
        opacity: 0;
    }
}

#menu_checkbox:checked ~ .mobile {

    .mobile_content_about {
        opacity: 0;
    }
}

.content {

    &_about {
        position: relative;
        height: 70%;
        overflow: hidden;
    }
}

.about {

    &_list {
        display: flex;
        height: calc(100% + 18px);
        padding-bottom: 18px;
        overflow-x: scroll;
        transition: opacity 1s;

        &::-webkit-scrollbar {
            display: none;
        }

        .about_us {
            @include background(url(../img/about/list_bg/1.png));

            background-size: auto;
            background-position: 50% 100%;
        }

        .our_team {
            @include background((url(../img/about/list_bg/2.png), url(../img/about/list_bg/3.png)));

            background-size: auto;
            background-position: 38% 4%, 82% 100%;
        }

        .form_item {
            @include background((url(../img/about/list_bg/4.png), url(../img/about/list_bg/5.png)));        

            background-size: 20%, 40%;
            background-position: 12% -8%, 82% 100%;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        padding-left: 4.69%;
        
        &:last-child {
            padding-right: 4.69%;
        }

        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 450px;
            color: $white_1;
        }

        &_title {
            @include font(100px, 100px, 'Rubik-Bold');
        }
        
        &_description {
            display: flex;
            align-items: flex-end;
            margin-left: 100px;

            &_paragraph {
                @include font(16px, 32px, 'Rubik-Regular');

                width: 570px;
                margin-right: 100px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &_list {
                display: flex;
            }

            &_item {
                position: relative;
                margin-right: 30px;

                &:hover {

                    .our_team_img_wrap::before {
                        background-color: $white_1;
                        opacity: 0.5;
                    }
                }
            }

            .our_team {

                &_description_wrap {
                    position: absolute;
                    left: 50%;
                    bottom: 20%;
                    transform: translateX(-50%);
                    text-align: center;
                }
    
                &_img {
                    height: 300px;
                    width: 225px;
                    object-fit: cover;

                    &_wrap {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: rgb(239,218,28); /* Old browsers */
                            background: -moz-linear-gradient(top,  rgba(239,218,28,1) 0%, rgba(239,218,28,1) 33%, rgba(130,109,255,1) 67%, rgba(130,109,255,1) 100%); /* FF3.6-15 */
                            background: -webkit-linear-gradient(top,  rgba(239,218,28,1) 0%,rgba(239,218,28,1) 33%,rgba(130,109,255,1) 67%,rgba(130,109,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                            background: linear-gradient(to bottom,  rgba(239,218,28,1) 0%,rgba(239,218,28,1) 33%,rgba(130,109,255,1) 67%,rgba(130,109,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efda1c', endColorstr='#826dff',GradientType=0 ); /* IE6-9 */
                            opacity: 0;
                            transition: 0.5s;
                        }

                        &:hover::before {
                            opacity: 0.3;
                        }
                    }
                }

                &_name {
                    @include font(22px, 22px, 'Rubik-Bold');

                    margin-bottom: 15px;
                    color: $white_1;
                }

                &_profession {
                    @include font(12px, 12px, 'Rubik-Regular');

                    color: $pink_1;
                }
            }
        }

        &_link {
            @include font(22px, 40px, 'Rubik-Regular');

            align-self: baseline;
            position: relative;
            display: block;
            border: 0;
            padding: 0 15px;
            margin-left: 262px;
            color: $purple_1;
            text-transform: lowercase;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(15px + 1ch);
                width: 10px;
                height: 100%;
                transform: rotate(-20deg);
                border: 1px solid $white_1;
                transition: 0.2s, transform 0.2s;
            }

            &:hover::before {
                width: 100%;
                left: 0;
                border-color: $purple_1;
                background-color: $black_0;
                transform: rotate(0deg);
                transition: 0.2s, width 0.2s 0.2s, left 0.2s 0.2s;
                z-index: -1;
            }
        }

        &_form {
            margin-left: 100px;

            .form {
                display: flex;

                &_field {
                    @include font(18px, 32px, 'Rubik-Regular');

                    width: 335px;
                    padding: 0;
                    border: 0;
                    border-bottom: 1px solid $white_1;
                    color: $white_1;
                    background-color: unset;

                    &:first-child {
                        margin-bottom: 100px;
                    }

                    &_wrap {
                        margin-left: 175px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-left: 90px;
                        }
                    }
                }

                &_textarea {
                    resize: horizontal;
                }

                &_submit {
                    @include font(18px, 32px, 'Rubik-Regular');

                    padding: 0 15px;
                    border: 0;
                    background-color: unset;
                    color: $purple_1;
                    cursor: pointer;
                    text-transform: lowercase;

                    &_wrap {
                        position: relative;
                        align-self: flex-end;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: calc(15px + 1.7ch);
                            width: 10px;
                            height: 100%;
                            transform: rotate(-20deg);
                            border: 1px solid $white_1;
                            transition: 0.2s, transform 0.2s;
                        }

                        &:hover::before {
                            width: 100%;
                            left: 0;
                            border-color: $purple_1;
                            background-color: $black_0;
                            transform: rotate(0deg);
                            transition: 0.2s, width 0.2s 0.2s, left 0.2s 0.2s;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}


// screen width <=1366px
@media only screen and (max-width: 1366px) {

    .about {

        &_item {

            &_inner {
                min-height: 100%;
            }

            &_title {
                @include font(70px, 70px, 'Rubik-Bold');
            }

            &_description_paragraph {
                @include font(14px, 26px, 'Rubik-Regular');
            }

            &_link {
                @include font(18px, 36px, 'Rubik-Regular');
            }
        }
    }
}

// screen width <=768px
@media only screen and (max-width: 768px) {

}