.menu_checkbox:checked ~ .container {

    .content_contacts_inner {

        & .social_list {
            opacity: 0;
        }

        & .description {
            opacity: 0;
        }
    }
}

.contacnts_bg {
    @include background(url('../img/contacts/contacts_bg.jpg'));

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    z-index: -1;
}

.content_contacts {
    position: relative;
    width: 100%;
    height: 85%;
    padding: 0 4.6875% 4.6875%;
    
    &_inner {
        display: flex;
        align-items: flex-end;
        height: 100%;

        .social {
            
            &_list {
                // width: 1.6%;
                height: 80%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
                transition: 1s;
            }

            &_link {
                
                &:hover .social_icon {
                    fill: $purple_1;
                }
            }
            
            &_icon {
                fill: $white_1;
                transition: 1s;
                width: 27px;
            }
        }

        .description {
            margin-left: 10%;
            color: $white_1;

            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 1s;
            
            &_address,
            &_phone,
            &_time_work {
                // margin-bottom: 23%;
                
                &:last-child {
                    margin: 0;
                }
                
                .title {
                    // @include font-fluid(30px, 36px, 'Rubik-Bold');
                    @include font(30px, 36px, 'Rubik-Bold');

                    margin-bottom: 6%;
                }

                .specification {
                    // @include font-fluid(18px, 27px, 'Rubik-Regular');
                    @include font(18px, 27px, 'Rubik-Regular');
                    
                    a,
                    p,
                    span {
                        display: block;
                        color: $white_1;
                    }

                    a:hover {
                        text-decoration: underline;
                    }

                    .workday {
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }

    & .menu {
        padding-bottom: 4.6875%;
    }
}

.mobile_contacts {

    .mobile_content {
        justify-content: flex-start;
        align-items: flex-start;

        .social_list {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 25%;
        }

        .social_item {
            margin-bottom: 50px;

            &:first-child {
                margin: 0;
            }
        }

        .social_link {
            margin: 0;
        }

        .social_icon {
            width: 20px;
            fill: $white_1;
        }

        .description {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 45px;
            margin-top: 25%;

            &_address,
            &_phone {
                margin-bottom: 40px;
            }

            &_time_work {

                .workday {
                    margin-bottom: 20px;
                }
            }

            .title {
                @include font(14px, 16px, 'Rubik-Bold');
                
                margin-bottom: 10px;
                color: $white_1;
            }
            
            .specification {
                @include font(12px, 16px, 'Rubik-Light');

                color: $white_1;

                span {
                    display: block;
                }

                a {
                    text-align: left;
                    margin: 0;
                }
            }
        }
    }

    .mobile_menu {

        &_link {
            text-align: left;
        }
    }
}


// screen width <=1366px
@media only screen and (max-width: 1366px) {
 
    .content_contacts_inner .description {

        &_address,
        &_phone,
        &_time_work {
            
            .title {
                @include font(24px, 28px, 'Rubik-Bold');
            }
            
            .specification {
                @include font(14px, 18px, 'Rubik-Regular');
            }
        }
    }
}

// screen width <=850px
@media only screen and (max-width: 850px) {
 
    .content_contacts_inner {

        .social_icon {
            width: 20px;
        }

        .description {
            &_address,
            &_phone,
            &_time_work {
                
                .title {
                    @include font(18px, 24px, 'Rubik-Bold');
                }
                
                .specification {
                    @include font(12px, 16px, 'Rubik-Regular');
                }
            }
        }
    }
}