.development_bg {
    @include background((url(../img/development/development_bg_1.png), url(../img/development/development_bg.jpg)));

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.menu_checkbox:checked ~ .container {

    .development_list {
        opacity: 0;
    }
}

#menu_checkbox:checked ~ .mobile {

    .mobile_content_development {
        opacity: 0;
    }
}

.content {

    &_development {
        position: relative;
        height: 70%;
        overflow: hidden;
    }
}

.development {

    &_list {
        display: flex;
        height: calc(100% + 18px);
        padding-bottom: 18px;
        overflow-x: scroll;
        transition: opacity 1s;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_item {
        display: flex;
        flex-shrink: 0;
        padding-left: 4.69%;

        &:first-child {
            @include background(url(../img/development/development_item_1.png));

            background-size: contain;
            background-position: 20% 50%;
        }

        &:nth-child(2) {
            @include background(url(../img/development/development_item_2.png));

            background-size: auto;
            background-position: 15% 0;
        }

        &:last-child {
            @include background(url(../img/development/development_item_3.png));

            background-size: contain;
            background-position: 0 0;
            padding-right: 4.69%;
        }

        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            color: $white_1;

            &:first-child {
                justify-content: space-between;
                width: 745px;
                padding: 2% 0 5% 0;
            }

            &_title {
                @include font(100px, 110px, 'Rubik-Bold');
            }

            &_description {
                padding-left: 21.48%;
            }

            &_subtitle {
                @include font(18px, 30px, 'Rubik-Regular');

                margin-bottom: 7.7%;

                span {
                    display: block;

                    &:first-child {
                        color: $gray_1;
                    }

                    &:last-child {
                        position: relative;

                        &::first-letter {
                            color: $pink_1;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 12ch;
                            width: 30%;
                            height: 1px;
                            background-color: $white_1;
                        }
                    }
                }
            }

            &_paragraph {
                @include font(18px, 30px, 'Rubik-Regular');

                margin-left: 134px;
            }
        }
    }

    &_price {

        &_list {
            display: flex;
            justify-content: space-between;
            width: 107%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            color: $white_1;
        }

        &_item {
            @include font(25px, 33px, 'Rubik-Bold');

            position: relative;
            width: 23%;
            padding: 4.03% 2.15%;
            border: 1px solid $white_1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/development/development_price_rectangle.png');
                z-index: -1;
            }

            &:first-child::before {
                top: 15%;
                left: -8%;
            }

            &:nth-child(2n)::before {
                top: -15%;
                left: 6%;
            }

            &:nth-child(3)::before {
                top: 15%;
                left: 5%;
            }

            span {
                color: $purple_1;
            }
        }
    }

    &_design,
    &_develop,
    &_promotion {

        &_list {
            display: flex;
            color: $white_1;

            &:last-child {
                margin-left: 215px;
            }
        }

        &_item {
            @include font(25px, 33px, 'Rubik-Bold');

            min-width: 430px;
            padding: 70px;
            margin: 0 30px 30px 0;
            border: 1px solid $white_1;

            &_description {

                span {
                    color: $purple_1;
                }
            }

            &_link {
                align-self: center;
                min-width: auto;
                padding: 0;
                margin: 0 0 0 70px;
                border: unset;
                cursor: pointer;
            }
        }

        &_link {
            @include font(22px, 40px, 'Rubik-Regular');

            position: relative;
            display: block;
            margin: -30px 0 0 0;
            border: 0;
            padding: 0 15px;
            color: #AC54E2;
            text-transform: lowercase;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(15px + 1ch);
                width: 10px;
                height: 100%;
                transform: rotate(-20deg);
                border: 1px solid #ffffff;
                transition: 0.2s, transform 0.2s;
            }

            &:hover::before {
                width: 100%;
                left: 0;
                border-color: #AC54E2;
                transform: rotate(0deg);
                transition: 0.2s, width 0.2s 0.2s, left 0.2s 0.2s;
            }
        }
    }
}

.mobile_content_development {
    height: 85%;
    transition: 1s;

    .development_item {
        padding: 20px 0;

        &_inner {
            display: block;
            padding: 0;
            right: auto;
            left: 0;

            &:first-child {
                width: 45%;
                padding-left: 3%;
            }

            &:last-child {
                width: 55%;

                .development_item_inner {

                    &_img {
                        top: auto;
                        left: 35%;
                        bottom: 10%;
                        width: 50%;
                    }

                    &_title {
                        left: 0;
                    }

                    &_title_small {
                        margin-left: 8%;

                        span {
                            color: $white_1;

                            &::before {
                                left: 35%;
                                background-color: $white_1;
                            }
                        }
                    }

                    &_description {
                        margin-left: 40%;
                        color: $white_1;
                    }
                }
            }

            &_img {
                top: auto;
                left: 0;
                bottom: 0;
                width: 75%;
            }

            &_title {
                @include font(39px, 40px, 'Rubik-Bold');

                margin-bottom: 15%;

                &_small {
                    position: relative;
                    margin: 0 0 10% 10%;

                    span {

                        &:last-child::first-letter {
                            color: $purple_1;
                        }

                        &::before {
                            left: 30%;
                            width: 20%;
                        }
                    }
                }
            }

            &_description {
                text-align: left;
                width: 65%;
                margin: 0 0 10% 37%;
            }
        }

        &:first-child {
            width: 240%;
            justify-content: space-between;
        }

        &:nth-child(2) {
            width: 170%;
            justify-content: flex-start;

            .development_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    position: relative;
                    left: 14%;
                    margin-bottom: 50px;
                }
            }

            .development_price {

                &_list {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: space-between;
                    height: 60%;
                }

                &_item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    height: 100px;
                    width: 42.3%;
                    padding: 3%;
                }
            }
        }

        &:last-child {
            justify-content: flex-start;

            .development_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    margin-bottom: 50px;
                }
            }

            .development_form {
                padding-left: 15%;
                height: auto;

                input {
                    width: 100%;
                    margin-bottom: 20px;

                    &:first-child[type="text"] {
                        margin-bottom: 20px;
                    }

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }

                textarea {
                    width: 100%;
                    border: 1px solid $white_1;
                    margin-bottom: 20px;
                    height: 75px;
                    padding-left: 5px;

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }

                .submit_wrap {
                    margin: 0;
                    width: auto;

                    &::before {
                        left: 0;
                        width: 100%;
                        border-color: $purple_1;
                        transform: rotate(0);
                    }

                    input {
                        margin: 0;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
}


// screen width <=1440px
@media only screen and (max-width: 1440px) {

    .development_item_inner_title {
        @include font(90px, 100px, 'Rubik-Bold');
    }

    .development_item {

        &:nth-child(2) {
    
            .development_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(18px, 28px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }

            .development_form {

                input {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 13%;
                }

                textarea {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 8%;
                }
            }
        }
    }
}

// screen width <=1366px
@media only screen and (max-width: 1366px) {
 
    .development_item_inner_title {
        @include font(70px, 80px, 'Rubik-Bold');
    }

    .development_item_inner_title_small {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .development_item_inner_description {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .development_item {

        &:nth-child(2) {
    
            .development_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(17px, 24px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .development_form {

                input {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 15%;
                }

                textarea {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 8%;
                }
            }
        }
    }
}

// screen width <=1024px
@media only screen and (max-width: 1024px) {
 
    .development_item_inner_title {
        @include font(50px, 60px, 'Rubik-Bold');
    }

    .development_item {

        &:nth-child(2) {
    
            .development_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(12px, 18px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }

            .development_form input {
                @include font(12px, 30px, 'Rubik-Regular');

                margin-right: 10%;

                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }

            .development_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }
        }
    }
}

// screen width <=768px
@media only screen and (max-width: 768px) {

    .development_item_inner_title {
        @include font(40px, 60px, 'Rubik-Bold');
    }

    .development_item_inner_description {
        text-align: center;
    }

    .development_item {

        &:nth-child(2) {

            .development_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(12px, 18px, 'Rubik-Bold');

                padding: 5.5%;
            }

            .development_price_list {
                flex-direction: column;
                width: 100%;
                height: 80%;
            }

            .development_price_item {
                @include font(12px, 16px, 'Rubik-Bold');

                width: 60%;
                padding: 2.5% 1.5%;
                margin: 0 auto;
                text-align: center;
            }
        }

        &:last-child {

            .development_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }

            .development_form input {
                @include font(12px, 30px, 'Rubik-Regular');

                margin-right: 10%;

                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }

            .development_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }

            .development_form {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-shrink: 0;
                flex-wrap: wrap;
                width: 100%;
                height: 40%;

                input {
                    width: 40%;
                    margin: 0;

                    &:first-child[type="text"] {
                        margin: 0;
                    }
                }

                textarea {
                    width: 40%;
                    margin: 0;
                }

                .submit_wrap {
                    display: block;
                    width: 25%;
                    margin: auto;

                    &::before {
                        left: 33%;
                        width: 5%;
                    }
                }
            }
        }
    }
}