.development_bg {
    @include background((url(../img/development/development_bg_1.png), url(../img/development/development_bg.jpg)));

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.menu_checkbox:checked ~ .container {

    .development_list {
        opacity: 0;
    }
}

#menu_checkbox:checked ~ .mobile {

    .mobile_content_development {
        opacity: 0;
    }
}

.content{

    &_development {
        position: relative;
        height: 70%;
        overflow: hidden;
    }
}

.development {

    &_list {
        display: flex;
        height: calc(100% + 18px);
        padding-bottom: 18px;
        overflow-x: scroll;
        transition: opacity 1s;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_item {
        display: flex;
        flex-shrink: 0;
        padding-left: 4.69%;

        &:first-child {
            @include background(url(../img/development/development_item_1.png));

            background-size: contain;
            background-position: 20% 50%;
        }

        &:nth-child(2) {
            @include background(url(../img/development/development_item_2.png));

            background-size: auto;
            background-position: 15% 0;
        }

        &:last-child {
            @include background(url(../img/development/development_item_3.png));

            background-size: contain;
            background-position: 0 0;
            padding-right: 4.69%;
        }

        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            color: $white_1;

            &:first-child {
                justify-content: center;
                width: 745px;

                .development_item_inner {

                    &_title {
                        min-height: 208px;
                    }

                    &_description {
                        min-height: 208px;
                    }
                }
            }

            &_title {
                @include font(100px, 110px, 'Rubik-Bold');
            }

            &_description {
                padding-left: 21.48%;
            }

            &_subtitle {
                @include font(18px, 30px, 'Rubik-Regular');

                margin-bottom: 45px;

                span {
                    display: block;

                    &:first-child {
                        color: $gray_1;
                    }

                    &:last-child {
                        position: relative;

                        &::first-letter {
                            color: $pink_1;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 12ch;
                            width: 30%;
                            height: 1px;
                            background-color: $white_1;
                        }
                    }
                }
            }

            &_paragraph {
                @include font(18px, 30px, 'Rubik-Regular');

                margin-left: 134px;
            }
        }
    }

    &_price {

        &_list {
            display: flex;
            justify-content: space-between;
            width: 107%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            color: $white_1;
        }

        &_item {
            @include font(25px, 33px, 'Rubik-Bold');

            position: relative;
            width: 23%;
            padding: 4.03% 2.15%;
            border: 1px solid $white_1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/development/development_price_rectangle.png');
                z-index: -1;
            }

            &:first-child::before {
                top: 15%;
                left: -8%;
            }

            &:nth-child(2n)::before {
                top: -15%;
                left: 6%;
            }

            &:nth-child(3)::before {
                top: 15%;
                left: 5%;
            }

            span {
                color: $purple_1;
            }
        }
    }

    &_design,
    &_develop,
    &_promotion {

        &_list {
            display: flex;
            color: $white_1;

            &:last-child {
                margin-left: 215px;

                .development_design,
                .development_develop,
                .development_promotion {

                    &_item {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &_item {
            @include font(25px, 33px, 'Rubik-Bold');

            position: relative;
            min-width: 430px;
            padding: 70px;
            margin: 0 30px 30px 0;
            border: 1px solid $white_1;

            &:hover {

                .development_design_item_description_hidden,
                .development_develop_item_description_hidden,
                .development_promotion_item_description_hidden {
                    opacity: 1;
                }
            }

            &_description {

                span {
                    color: $purple_1;
                }

                &_hidden {
                    @include font(16px, 24px, 'Rubik-Regular');

                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 25px 30px;
                    background-color: $black_0;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            &_link {
                align-self: center;
                min-width: auto;
                padding: 0;
                margin: 0 0 0 70px;
                border: unset;
                cursor: pointer;
            }
        }

        &_link {
            @include font(22px, 40px, 'Rubik-Regular');

            position: relative;
            display: block;
            border: 0;
            padding: 0 15px;
            color: $purple_1;
            text-transform: lowercase;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(15px + 1ch);
                width: 10px;
                height: 100%;
                transform: rotate(-20deg);
                border: 1px solid $white_1;
                transition: 0.2s, transform 0.2s;
            }

            &:hover::before {
                width: 100%;
                left: 0;
                border-color: $purple_1;
                background-color: $black_0;
                transform: rotate(0deg);
                transition: 0.2s, width 0.2s 0.2s, left 0.2s 0.2s;
                z-index: -1;
            }
        }
    }
}

.mobile_content_development {
    height: 85%;
    transition: 1s;

    .development_item {
        padding: 20px 0;

        &_inner {
            display: block;
            padding: 0;
            right: auto;
            left: 0;

            &:first-child {
                width: 45%;
                padding-left: 3%;
            }

            &:last-child {
                width: 55%;

                .development_item_inner {

                    &_img {
                        top: auto;
                        left: 35%;
                        bottom: 10%;
                        width: 50%;
                    }

                    &_title {
                        left: 0;
                    }

                    &_title_small {
                        margin-left: 8%;

                        span {
                            color: $white_1;

                            &::before {
                                left: 35%;
                                background-color: $white_1;
                            }
                        }
                    }

                    &_description {
                        margin-left: 40%;
                        color: $white_1;
                    }
                }
            }

            &_img {
                top: auto;
                left: 0;
                bottom: 0;
                width: 75%;
            }

            &_title {
                @include font(39px, 40px, 'Rubik-Bold');

                margin-bottom: 15%;

                &_small {
                    position: relative;
                    margin: 0 0 10% 10%;

                    span {

                        &:last-child::first-letter {
                            color: $purple_1;
                        }

                        &::before {
                            left: 30%;
                            width: 20%;
                        }
                    }
                }
            }

            &_description {
                text-align: left;
                width: 65%;
                margin: 0 0 10% 37%;
            }
        }

        &:first-child {
            width: 240%;
            justify-content: space-between;
        }

        &:nth-child(2) {
            width: 170%;
            justify-content: flex-start;

            .development_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    position: relative;
                    left: 14%;
                    margin-bottom: 50px;
                }
            }

            .development_price {

                &_list {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: space-between;
                    height: 60%;
                }

                &_item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    height: 100px;
                    width: 42.3%;
                    padding: 3%;
                }
            }
        }

        &:last-child {
            justify-content: flex-start;

            .development_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    margin-bottom: 50px;
                }
            }

            .development_form {
                padding-left: 15%;
                height: auto;

                input {
                    width: 100%;
                    margin-bottom: 20px;

                    &:first-child[type="text"] {
                        margin-bottom: 20px;
                    }

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }

                textarea {
                    width: 100%;
                    border: 1px solid $white_1;
                    margin-bottom: 20px;
                    height: 75px;
                    padding-left: 5px;

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }

                .submit_wrap {
                    margin: 0;
                    width: auto;

                    &::before {
                        left: 0;
                        width: 100%;
                        border-color: $purple_1;
                        transform: rotate(0);
                    }

                    input {
                        margin: 0;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
}


// screen width <=1440px
@media only screen and (max-width: 1440px) {

    .development_item_inner_title {
        @include font(90px, 100px, 'Rubik-Bold');
    }

    .development_item {

        &:nth-child(2) {
    
            .development_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(18px, 28px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }

            .development_form {

                input {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 13%;
                }

                textarea {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 8%;
                }
            }
        }
    }

    .development {

        &_item_inner {

            &:first-child {

                .development_item_inner {

                    &_title {
                        min-height: 168px;
                    }

                    &_description {
                        min-height: 168px;
                    }
                }
            }

            &_subtitle {
                margin-bottom: 15px;
            }
        }

        &_design_item,
        &_develop_item,
        &_promotion_item {
            min-width: 370px;
            padding: 50px;

            &_description_hidden {
                @include font(14px, 20px, 'Rubik-Regular');
            }

            &_link {
                min-width: auto;
                padding: unset;
            }
        }
    }
}

// screen width <=1366px
@media only screen and (max-width: 1366px) {
 
    .development_item_inner_title {
        @include font(70px, 80px, 'Rubik-Bold');
    }

    .development_item_inner_title_small {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .development_item_inner_description {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .development_item {

        &:nth-child(2) {
    
            .development_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(17px, 24px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .development_form {

                input {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 15%;
                }

                textarea {
                    @include font(14px, 30px, 'Rubik-Regular');

                    margin-right: 8%;
                }
            }
        }
    }

    .development_design_item_description,
    .development_develop_item_description,
    .development_promotion_item_description {
        @include font(20px, 26px, 'Rubik-Bold');
    }
}

// screen width <=1024px
@media only screen and (max-width: 1024px) {
 
    .development_item_inner_title {
        @include font(50px, 60px, 'Rubik-Bold');
    }

    .development_item {

        &:nth-child(2) {

            .development_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(12px, 18px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .development_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }

            .development_form input {
                @include font(12px, 30px, 'Rubik-Regular');

                margin-right: 10%;

                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }

            .development_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }
        }
    }
}

// screen width <=768px
@media only screen and (max-width: 768px) {

    .development_item_inner_title {
        @include font(40px, 60px, 'Rubik-Bold');
    }

    .development_item_inner_description {
        text-align: center;
    }

    .development_item {

        &:nth-child(2) {

            .development_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }

            .development_price_item {
                @include font(12px, 18px, 'Rubik-Bold');

                padding: 5.5%;
            }

            .development_price_list {
                flex-direction: column;
                width: 100%;
                height: 80%;
            }

            .development_price_item {
                @include font(12px, 16px, 'Rubik-Bold');

                width: 60%;
                padding: 2.5% 1.5%;
                margin: 0 auto;
                text-align: center;
            }
        }

        &:last-child {

            .development_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }

            .development_form input {
                @include font(12px, 30px, 'Rubik-Regular');

                margin-right: 10%;

                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }

            .development_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }

            .development_form {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-shrink: 0;
                flex-wrap: wrap;
                width: 100%;
                height: 40%;

                input {
                    width: 40%;
                    margin: 0;

                    &:first-child[type="text"] {
                        margin: 0;
                    }
                }

                textarea {
                    width: 40%;
                    margin: 0;
                }

                .submit_wrap {
                    display: block;
                    width: 25%;
                    margin: auto;

                    &::before {
                        left: 33%;
                        width: 5%;
                    }
                }
            }
        }
    }
}

// screen width <=500px
@media only screen and (max-width: 500px) {

    .mobile_content_development {
        overflow: hidden;

        .mobile_development_list {

            .development_item {
                width: auto;
                justify-content: flex-start;

                &_inner {
                    width: auto;
                }
            }
        }
    }

    .mobile_development {

        &_list {
            display: flex;
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            transition: opacity 1s;

            &::-webkit-scrollbar {
                display: none;
            }

            .development_item {
                padding: 0 20px;

                &:first-child {

                    .development_item_inner {
                        flex-direction: row;
                    }

                    .development_design_list {
                        height: 100%;

                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                }

                &_inner {

                    &:first-child {
                        padding-left: 0;

                        .development_item_inner_title {
                            @include font(32px, 40px, 'Rubik-Bold');

                            min-height: unset;
                            margin-bottom: 30px;
                        }

                        .development_item_inner_description {
                            min-height: auto;
                        }
                    }

                    &:last-child {
                        display: flex;
                        flex-direction: column;
                    }

                    &_description {
                        width: 100%;
                        padding-left: 0;
                        margin: 0;
                    }

                    &_subtitle {
                        margin-bottom: 30px;

                        span:last-child::before {
                            bottom: -15px;
                            left: 0;
                            width: 7ch;
                        }
                    }

                    &_paragraph {
                        @include font(12px, 22px, 'Rubik-Regular');

                        width: 80vw;
                        padding: 0 15px;
                        margin-left: 0;
                    }
                }
            }

            .development {

                &_design,
                &_develop,
                &_promotion {

                    &_list {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin-left: 0;
                        height: 50%;

                        &:last-child {

                            .development_design_item,
                            .development_develop_item,
                            .development_promotion_item {
                                align-self: flex-start;
                                margin-left: 0;

                                &_link {
                                    position: absolute;
                                    left: -230px;
                                    bottom: 65px;
                                }
                            }
                        }
                    }

                    &_item {
                        min-width: unset;
                        padding: 0;
                        border: 0;
                        margin: 0;

                        &_description {
                            @include font(14px, 16px, 'Rubik-Bold');

                            p {
                                margin-bottom: 10px;

                                &:last-child {
                                    @include font(14px, 16px, 'Rubik-Regular');
                                }
                            }
                        }
                    }

                    &_link {
                        @include font(14px, 36px, 'Rubik-Regular');

                        &::before {
                            width: 100%;
                            left: 0;
                            border-color: $purple_1;
                            background-color: transparent;
                            transform: rotate(0deg);
                            transition: 0.2s;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) and (orientation: landscape) {

    .container {
        position: fixed;
        height: 100%;
        color: $white_1;

        &::before {
            @include font(20px, 24px, 'Rubik-Bold');

            content: 'Turn your device over.';
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $purple_1;
        }

        .header,
        .content_main,
        .content_portfolio,
        .content_development,
        .content_about,
        .content_contacts,
        .footer {
            display: none;
        }
    }

    .mobile {
        position: fixed;

        &::before {
            content: 'Turn your device.';
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &_header,
        &_content_main,
        &_content_portfolio,
        &_content_development,
        &_content_about,
        &_content_contacts {
            display: none;
        }
    }
}