.menu_checkbox:checked ~ .container {

    .header .nav {
        opacity: 0;
        visibility: hidden;
    }

    .header .menu_label_close {
        opacity: 1;
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 1.042% 4.6875% 0;
    transition: 1s;

    .menu {

        &_label {
            display: flex;
            position: relative;
            padding-left: 35%;
            cursor: pointer;

            &:hover {
                
                .menu_ico_1,
                .menu_ico_2,
                .menu_ico_3 {
                    border-left-color: $purple_1;
                    height: 100%;
                    top: 0;
                }
                
                .menu_span {
                    color: $purple_1;
                }
            }

            &_close {
                // @include font-fluid(18px, 20px, 'Rubik-Regular');
                @include font(18px, 20px, 'Rubik-Regular');

                position: absolute;
                left: 0;
                top: 50%;
                margin-left: 4.6875%;
                padding-left: 1.5%;
                color: $white_1;
                opacity: 0;
                cursor: pointer;
                transition: 1s;
                
                &:hover {
                    color: $purple_1;
                }
                
                &_icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18%;
                    fill: $white_1;
                    transition: 1s;
                }

                &:hover .menu_label_close_icon {
                    fill: $purple_1;
                }
            }
        }
        
        &_ico {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25%;
            height: 100%;

            &_1,
            &_2,
            &_3 {
                border-left: 1px solid $white_1;
                background-color: $white_1;
                transition: 1s;
            }

            &_1 {
                height: 70%;
                position: relative;
                top: 20%;
            }

            &_2 {
                height: 80%;
                position: relative;
                top: 0;
            }

            &_3 {
                height: 80%;
                position: relative;
                top: 20%;
            }
        }

        &_span {
            // @include font-fluid(18px, 24px, 'Rubik-Regular');
            @include font(18px, 20px, 'Rubik-Regular');

            color: $white_1;
            transition: 1s;
        }
    }
    
    .nav {
        display: flex;
        align-items: center;
        width: 80%;
        transition: 1s;
        
        &_list {
            display: flex;
            display: none;
            align-items: center;
            width: 60%;
        }
        
        &_item {
            margin-left: 15%;
        }

        &_link {
            // @include font-fluid(18px, 24px, 'Rubik-Light');
            @include font(18px, 20px, 'Rubik-Light');

            color: $gray_3;
            white-space: nowrap;
            transition: 1s;

            &:hover {
                color: $purple_1;
            }
        }
        
        &_link.active {
            color: $purple_1;
        }
    }

    .logo {
        width: 7%;

        &_img {
            width: 100%;
            fill: $white_1;
        }
    }
}


// screen width <=1366px
@media only screen and (max-width: 1366px) {
    
    .header { 

        .menu_span {
            @include font(12px, 14px, 'Rubik-Regular');
        }
        
        .nav_link {
            @include font(12px, 14px, 'Rubik-Light');
        }
        
        .menu_label_close {
            @include font(12px, 14px, 'Rubik-Regular');

            padding-left: 1%;
        }

        .menu_ico {
            width: 20%;
        }
    }
}