.mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 1s;

    &_header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15%;
        padding: 20px 20px 0;
    }

    &_menu_label {
        @include font-fluid(70px, 70px, 'Rubik-Regular');

        position: relative;
        padding-left: 7%;
        color: $white_1;
        transition: 1s;

        .menu_ico {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30%;
            display: flex;
            justify-content: space-around;

            span {
                position: relative;
                width: 2px;
                background-color: $white_1;
            }

            &_1 {
                height: 70%;
                top: 3px;
            }
            
            &_2 {
                height: 80%;
            }
            
            &_3 {
                height: 90%;
                top: 4px;
            }
        }
    }

    &_logo {
        width: 25%;

        &_img {
            width: 100%;
            fill: $white_1;
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 85%;
        padding: 0 20px 35px;
        transition: 1s;
        overflow: hidden;
    }

    &_title {
        overflow: hidden;
        transition: 1s;

        svg {
            position: relative;
            top: 15px;
        }
    }
    
    &_contacts {
        transition: 1s;
        
        a {
            @include font(12px, 20px, 'Rubik-Light');

            display: block;
            color: $white_1;
            margin-top: 10px;
            text-align: right;
        }
    }

    &_social {

        &_list {
            width: 20%;
            margin-left: auto;
            margin-bottom: 25%;
            transition: 1s;
        }

        &_item {
            margin-bottom: 50px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &_social_link {

        svg {
            fill: $white_1;
        }
    }
}


// screen width <=500px (portrait)
@media only screen and (max-width: 500px) {
 
    body, h1, h2, h3, h4, h5, h6, p, ul, li {
        overflow: hidden;
    }
    
    .mobile {
        z-index: 1;
        opacity: 1;
        visibility: visible;
    }
    
    #menu_checkbox:checked {
        
        ~ .mobile {
            background-color: $black_3;

            .mobile_menu_label {
                opacity: 0;
                z-index: -1;
            }
            
            .mobile_content {
                opacity: 0;
                visibility: hidden;
            }
            
            .mobile_menu {
                opacity: 1;
            }

            .mobile_title {
                position: relative;
                transform: translateX(-150%);
            }
            
            .mobile_contacts {
                position: relative;
                transform: translateY(100%);
            }
            
            .mobile_social_list {
                position: relative;
                transform: translateX(300%);
            }
        }
    }
}
