.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black_0;
    z-index: 10;

    &_img_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &_img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .progress-percentage {
        @include font(340px, 340px, 'Roboto-Bold');

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $black_4;
    }
}


// screen width <=768px
@media only screen and (max-width: 768px) {

    .preloader {
        .progress-percentage {
            @include font(200px, 200px, 'Roboto-Bold');
        }
    }
}