.development_bg {
    @include background(url('../img/development/development_bg.jpg'));

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.menu_checkbox:checked ~ .container {

    .marketing_list {
        opacity: 0;
    }
}

#menu_checkbox:checked ~ .mobile {
        
    .mobile_content_marketing {
        opacity: 0;
    }
}

.content {

    &_marketing {
        position: relative;
        height: 70%;
        overflow: hidden;
    }
}

.marketing {

    &_list {
        display: flex;
        height: calc(100% + 18px);
        overflow-x: scroll;
        padding-bottom: 18px;
        transition: opacity 1s;

        &::-webkit-scrollbar {
            display: none;
        }
    }
        
    &_item {
        display: flex;
        width: 100%;
        flex-shrink: 0;
        padding: 0 4.6875%;
    
        &:nth-child(2) {
            flex-direction: column;
            justify-content: space-between;
            padding: 4.41% 4.6875%;

            .marketing {

                &_item {

                    &_title {
                        @include font(100px, 110px, 'Rubik-Bold');
    
                        color: $white_1;
                        white-space: nowrap;
    
                        span {
                            color: $gray_1;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke: 1px $gray_4;
                        }
                    }
                }

                &_price {

                    &_list {
                        display: flex;
                        justify-content: space-between;
                        width: 107%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        color: $white_1;
                    }
                    
                    &_item {
                        @include font(25px, 33px, 'Rubik-Bold');

                        position: relative;
                        width: 23%;
                        padding: 4.03% 2.15%;
                        border: 1px solid $white_1;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-image: url('../img/development/development_price_rectangle.png');
                            z-index: -1;
                        }

                        &:first-child::before {
                            top: 15%;
                            left: -8%;
                        }

                        &:nth-child(2n)::before {
                            top: -15%;
                            left: 8%;
                        }

                        &:nth-child(3)::before {
                            top: 15%;
                            left: 5%;
                        }

                        span {
                            color: $purple_1;                            
                        }
                    }
                }
            }
        }
    
        &:last-child {
            width: 80%;
            flex-direction: column;
            justify-content: space-between;
            padding: 4.41% 4.6875%;

            .marketing {

                &_item {

                    &_title {
                        @include font(100px, 110px, 'Rubik-Bold');
    
                        color: $white_1;
                        white-space: nowrap;
                    }
                }

                &_form {
                    width: 85%;
                    align-self: flex-end;

                    .submit_wrap {
                        display: inline-block;
                        position: relative;
                        margin-top: 10px;
                        padding: 0 10px;
                        
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 4.5ch;
                            width: 8%;
                            height: 100%;
                            transform: rotate(-20deg);
                            border: 1px solid $white_1;
                            transition: 0.2s, transform 0.2s 0.2s;
                        }
                        
                        &:hover::before {
                            width: 100%;
                            left: 0;
                            border-color: $purple_1;
                            transform: rotate(0deg);
                            transition: 0.2s, width 0.2s 0.2s, left 0.2s 0.2s;
                        }
                    }

                    input {
                        @include font(18px, 40px, 'Rubik-Regular');

                        background-color: transparent;
                        padding: 0;
                        border: 0;
                        border-bottom: 1px solid $white_1;
                        width: 30.79%;
                        margin-right: 16.61%;
                        color: $white_1;
                        resize: none;
                        
                        &::placeholder {
                            @include font(18px, 40px, 'Rubik-Regular');

                            color: $white_1;
                        }

                        &[type="submit"] {
                            position: relative;
                            width: 100%;
                            margin: 0;
                            border: 0;
                            padding: 0 5px;
                            color: $purple_1;
                            cursor: pointer;
                        }

                        &:first-child[type="text"] {
                            margin-bottom: 9.13%;
                        }
                    }

                    textarea {
                        @include font(18px, 40px, 'Rubik-Regular');

                        background-color: transparent;
                        padding: 0;
                        border: 0;
                        border-bottom: 1px solid $white_1;
                        width: 30.79%;
                        margin-right: 9.22%;
                        color: $white_1;
                        overflow: hidden;
                        resize: none;
                        vertical-align: bottom;
                        outline: none;
                        
                        &::placeholder {
                            @include font(18px, 40px, 'Rubik-Regular');

                            color: $white_1;
                        }
                    }
                }
            }
        }

        &_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            width: 100%;
            color: $white_1;
            padding: 4.87% 0;
            z-index: 1;

            // &:last-child {

            //     .marketing_item_inner {

            //         &_img {
            //             width: 37%;
            //             top: 10%;
            //             left: 7%;
            //         }
    
            //         &_title {
            //             position: relative;
            //             right: 27%;
            //             color: $gray_1;
            //             -webkit-text-fill-color: transparent;
            //             -webkit-text-stroke: 1px $white_1;
            //         }
    
            //         &_description {
            //             width: 55%;
            //             margin-left: 15%;
            //         }

            //         &_title_small span:last-child::before {
            //             left: 15ch;
            //         }
            //     }
            // }

            &_img {
                position: absolute;
                top: 50%;
                left: 15%;
                width: 25%;
                z-index: -1;
            }

            &_title {
                @include font(100px, 110px, 'Rubik-Bold');

                color: $white_1;

                span {
                    display: block;
                    margin-left: 15%;
                    color: $white_1;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px $white_1;
                }
            }

            &_title_small {
                @include font(18px, 30px, 'Rubik-Regular');

                span {
                    display: block;

                    &:first-child {
                        color: $gray_1;
                    }

                    &:last-child {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 13ch;
                            width: 14.95%;
                            height: 1px;
                            background-color: $white_1;
                        }
                    }
                }
            }

            &_description {
                @include font(18px, 30px, 'Rubik-Regular');

                width: 57%;
                margin: 0 auto;
                margin-left: 8%;
            }
        }
    }

}

.mobile_content_marketing {
    height: 85%;
    transition: 1s;

    .marketing_item {
        padding: 20px 0;

        &_inner {
            display: block;
            padding: 0;
            right: auto;
            left: 0;

            &:first-child {
                width: 45%;
                padding-left: 3%;
            }

            &:last-child {
                width: 55%;
                
                .marketing_item_inner {

                    &_img {
                        top: auto;
                        left: 35%;
                        bottom: 10%;
                        width: 50%;
                    }

                    &_title {
                        left: 0;
                    }

                    &_title_small {
                        margin-left: 8%;
                        
                        span {
                            color: $white_1;

                            &::before {
                                left: 35%;
                                background-color: $white_1;
                            }
                        }
                    }

                    &_description {
                        margin-left: 40%;
                        color: $white_1;
                    }
                }
            }

            &_img {
                top: auto;
                left: 0;
                bottom: 0;
                width: 75%;
            }
            
            &_title {
                @include font(39px, 40px, 'Rubik-Bold');

                margin-bottom: 15%;

                &_small {
                    position: relative;
                    margin: 0 0 10% 10%;

                    span {

                        &:last-child::first-letter {
                            color: $purple_1;
                        }

                        &::before {
                            left: 30%;
                            width: 20%;
                        }
                    }
                }
            }

            &_description {
                text-align: left;
                width: 65%;
                margin: 0 0 10% 37%;
            }
        }
        
        &:first-child {
            width: 240%;
            justify-content: space-between;
        }

        &:nth-child(2) {
            width: 170%;
            justify-content: flex-start;

            .marketing_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    position: relative;
                    left: 14%;
                    margin-bottom: 50px;
                }
            }

            .marketing_price {

                &_list {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: space-between;
                    height: 60%;
                }

                &_item {
                    width: 42.3%;
                    padding: 5.5%;
                }
            }
        }

        &:last-child {
            justify-content: flex-start;

            .marketing_item {

                &_title {
                    @include font(39px, 40px, 'Rubik-Bold');

                    margin-bottom: 50px;
                }
            }

            .marketing_form {
                padding-left: 15%;
                height: auto;

                input {
                    width: 100%;
                    margin-bottom: 20px;
                    
                    &:first-child[type="text"] {
                        margin-bottom: 20px;
                    }

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }
                
                textarea {
                    width: 100%;
                    border: 1px solid $white_1;
                    margin-bottom: 20px;
                    height: 75px;
                    padding-left: 5px;

                    &::placeholder {
                        @include font(12px, 20px, 'Rubik-Regular');
                    }
                }

                .submit_wrap {
                    margin: 0;
                    width: auto;

                    &::before {
                        left: 0;
                        width: 100%;
                        border-color: $purple_1;
                        transform: rotate(0);
                    }
                    
                    input {
                        margin: 0;
                        padding: 0 25px;
                    }
                }
            }
        }
    }
}


// screen width <=1440px
@media only screen and (max-width: 1440px) {

    .marketing_item_inner_title {
        @include font(90px, 100px, 'Rubik-Bold');
    }

    .marketing_item {

        &:nth-child(2) {
    
            .marketing_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }
    
            .marketing_price_item {
                @include font(18px, 28px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .marketing_item_title {
                @include font(90px, 100px, 'Rubik-Bold');
            }
    
            .marketing_form input {
                margin-right: 7%;
            }
        }
    }
}

// screen width <=1366px
@media only screen and (max-width: 1366px) {
 
    .marketing_item_inner_title {
        @include font(70px, 80px, 'Rubik-Bold');
    }

    .marketing_item_inner_title_small {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .marketing_item_inner_description {
        @include font(12px, 22px, 'Rubik-Regular');
    }

    .marketing_item {

        &:nth-child(2) {
    
            .marketing_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .marketing_price_item {
                @include font(17px, 24px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .marketing_item_title {
                @include font(70px, 80px, 'Rubik-Bold');
            }

            .marketing_form {

                input {
                    @include font(14px, 30px, 'Rubik-Regular');
            
                    margin-right: 15%;
                }

                textarea {
                    @include font(14px, 30px, 'Rubik-Regular');
            
                    margin-right: 8%;
                }
            }
        }
    }
}

// screen width <=1024px
@media only screen and (max-width: 1024px) {
 
    .marketing_item_inner_title {
        @include font(50px, 60px, 'Rubik-Bold');
    }

    .marketing_item {

        &:nth-child(2) {
    
            .marketing_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }
            
            .marketing_price_item {
                @include font(12px, 18px, 'Rubik-Bold');
            }
        }

        &:last-child {

            .marketing_item_title {
                @include font(50px, 60px, 'Rubik-Bold');
            }

            .marketing_form input {
                @include font(12px, 30px, 'Rubik-Regular');

                margin-right: 10%;

                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }

            .marketing_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }
        }
    }
}

// screen width <=768px
@media only screen and (max-width: 768px) {
 
    .marketing_item_inner_title {
        @include font(40px, 60px, 'Rubik-Bold');
    }

    .marketing_item_inner_description {
        text-align: center;
    }

    .marketing_item {

        &:nth-child(2) {

            .marketing_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }

            .marketing_price_item {
                @include font(12px, 18px, 'Rubik-Bold');

                padding: 5.5%;
            }

            .marketing_price_list {
                flex-direction: column;
                width: 100%;
                height: 80%;
            }

            .marketing_price_item {
                @include font(10px, 14px, 'Rubik-Bold');

                width: 60%;
                padding: 2.5% 1.5%;
                margin: 0 auto;
                text-align: center;
            }
        }

        &:last-child {
            
            .marketing_item_title {
                @include font(40px, 60px, 'Rubik-Bold');
            }
    
            .marketing_form input {
                @include font(12px, 30px, 'Rubik-Regular');
    
                margin-right: 10%;
    
                &:first-child[type="text"] {
                    margin-bottom: 7%;
                }
            }
    
            .marketing_form textarea {
                @include font(12px, 30px, 'Rubik-Regular');
            }
    
            .marketing_form {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                flex-shrink: 0;
                flex-wrap: wrap;
                width: 100%;
                height: 40%;
        
                input {
                    width: 40%;
                    margin: 0;
        
                    &:first-child[type="text"] {
                        margin: 0;
                    }
                }
                
                textarea {
                    width: 40%;
                    margin: 0;
                }
        
                .submit_wrap {
                    display: block;
                    width: 25%;
                    margin: auto;
        
                    &::before {
                        left: 33%;
                        width: 5%;
                    }
                }
            }
        }
    }
}